body {
    background-color: #f8f9fa;
}

h1,
h2 {
    margin-top: 20px;
}

.display-box {
    font-size: 2rem;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
}

.num-btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 1.5rem;
}

.d-none {
    display: none;
}

.mt-5 {
    margin-top: 3rem !important;
}